<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1RanRRYEIt5uPz6jRVm4XLLXIv7ZizOw</string>
	<key>GCM_SENDER_ID</key>
	<string>957483623126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmersGuide</string>
	<key>PROJECT_ID</key>
	<string>farmers-guide-9e391</string>
	<key>STORAGE_BUCKET</key>
	<string>farmers-guide-9e391.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957483623126:ios:83415335dd3c161b7e1f77</string>
</dict>
</plist>